{
    "trailingComma": "all",
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": { "parser": "svelte", "svelteAllowShorthand": true }
        },
        {
            "files": ".github/**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
