@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'FiraSans';
        font-style: normal;
        font-weight: 400;
        src: url(@assets/fonts/FiraSans-Regular.ttf);
    }
}

@layer components {
    .sidebar-div {
        @apply transition ease-in-out duration-200
            text-light-primary-text
            py-4
            hover:bg-light-secondary
            hover:text-light-secondary-text ;
    }

    .sidebar-icon {
        @apply flex justify-center;
    }
}