@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'FiraSans';
        font-style: normal;
        font-weight: 400;
        src: url($assets/fonts/FiraSans-Regular.ttf);
    }
}

@layer components {
    .sidebar-div {
        @apply text-light-primary-text transition-all hover:bg-light-secondary hover:text-light-secondary-text dark:text-dark-primary-text dark:hover:bg-dark-secondary dark:hover:text-dark-secondary-text;
    }

    .sidebar-icon {
        @apply flex justify-center;
    }

    .active-nav {
        @apply bg-light-secondary text-light-secondary-text dark:bg-dark-secondary dark:text-dark-secondary-text;
    }

    .inactive-nav {
        @apply bg-light-primary text-light-primary-text dark:bg-dark-primary dark:text-dark-primary-text;
    }

    .main-screen {
        @apply min-h-full grow bg-light-background p-1 text-light-primary-text transition-colors dark:bg-dark-background dark:text-dark-primary-text;
    }
}
